In [1]:
import json  
import pandas as pd  
from pandas.io.json import json_normalize

In [2]:
raw_data = pd.read_json('./realties.json', lines=True, orient='columns')

In [3]:
raw_data.head()

,_id,_index,_score,_source,_type
0,"{'2': 'LOr6iGcB_HRRL6pG3mnW', '3': 'Ler6iGcB_H...","{'2': 'realties', '3': 'realties', '7': 'realt...","{'2': 1, '3': 1, '7': 1, '8': 1, '9': 1, '10':...","{'2': {'error': [], 'uf': 'PR', 'longitude': -...","{'2': 'imovel', '3': 'imovel', '7': 'imovel', ..."

In [5]:
ids = pd.DataFrame([i for i in raw_data._id])

In [6]:
ids

,10,1000,10000,100000,100001,100002,100003,100004,100005,100006,...,99990,99991,99992,99993,99994,99995,99996,99997,99998,99999
0,3er7iGcB_HRRL6pGxWnM,eer7iGcB_HRRL6pGDml3,hOndh2cB_HRRL6pGj-Ij,1izFnmcBITdkjQvHI7LE,1yzFnmcBITdkjQvHI7Lz,2CzFnmcBITdkjQvHJLIt,2SzFnmcBITdkjQvHJLJL,2izFnmcBITdkjQvHJLKF,2yzFnmcBITdkjQvHJLKS,3CzFnmcBITdkjQvHJLK2,...,uyzpnWcBITdkjQvHe5BT,oCzpnWcBITdkjQvHZJBu,oSzpnWcBITdkjQvHZZD1,oizpnWcBITdkjQvHZ5AT,oyzpnWcBITdkjQvHZ5CW,pCzpnWcBITdkjQvHaJB5,pSzpnWcBITdkjQvHaZAN,pizpnWcBITdkjQvHapCL,pyzpnWcBITdkjQvHapCj,1SzFnmcBITdkjQvHI7J1